
body{
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

.fact-display {
    background-color: aliceblue;
    margin: 50px 25%;
    text-align: center;
    padding: 50px;
    border: 3px solid black;
    min-height: 50px;
    max-height: 50px;
    border-radius: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
    border: 3px solid black;
}

button {
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    padding: 40px;
    display: block;
    margin-top: 50px;
    background-color: #0313fc;
    border: 2px solid #030961;
    border-radius: 20px;
    transition-duration: 0.1s;
    width: 20%;
}

button:hover {
    background-color: #000fe4;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

footer {
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.buttonContainer {
    display: flex;
}